.Text-position {
  width: 100%;
  height: 100%;
}

.Editor {
  font-size: 18px;
  height: 38rem;
}

.Editor__header {
  max-width: 42rem;
  margin: 0 auto;
  position: relative;
}

.Editor__header > input {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.Editor__header > textarea {
  font-size: 1.125rem;
}

.Modal-footer {
  display: flex;
  gap: 2rem;
  justify-content: flex-end; 
  flex-direction: column;
}