.Text-position {
  width: 100%;
}

.Editor {
  font-size: 18px;
  height: 38rem;
}

.Editor__title {
  max-width: 42rem;
  margin: 0 auto;
  position: relative;
}

.Editor__title > input {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
